---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="Status"
  description="A little bit about me and my background."
  pubDate={new Date("11/5/2023")}
  heroImage=""
>
  <ol>
    <li>Learning double bass and playing it</li>
    <li>Working on ~ Shopify app project</li>
    <li>Reading books about people thinking about their lives</li>
    <li>Nothing else</li>
  </ol>
</Layout>
