---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <nav>
    <HeaderLink href="/">/</HeaderLink>
    <HeaderLink href="/about">chasingheartb status</HeaderLink>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 18px;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    gap: 1em;
  }
  nav a {
    text-align: center;
    color: var(--black);
    border-bottom: 2px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }
</style>
